<div id='right'>
    
    <%= form_tag('/thanks') do %>
        <input type='text' name='email' />
        <div id='email'><%= image_submit_tag 'email_button.png' %></div>
    <% end %>

    <div id='fb'><%= image_tag 'Facebook-icon.png' %></div>
    <div id='twitter'><%= image_tag 'Twitter-icon.png' %></div>
</div>

<div id='left'>
    <div id='logo'><%= image_tag 'logo.png' %></div>
    <div id='logotext'><%= image_tag 'logo_text5.png' %></div>
</div>
