<%= link_to "Our Blog", "http://blog.getweeklyeats.com", :id => "header" %> 
<%= link_to "About Us", "http://blog.getweeklyeats.com/about", :id => "header" %> 

<br><br>	
<%= image_tag 'logo.png' %>
	
<div id="main">	
	<%= image_tag 'logo_text.png', :id => "tagline" %>

	<%= link_to image_tag("youtube.png"), "http://bit.ly/VoteWeeklyEats" %>	
</div>

<div id="sidebar">
	
	<h2> Enter your email to learn more about weekly eats:</h2>
	<%= form_tag('/thanks') do %>
	    <input type='text' name='email' id='email'/>
	    <%= image_submit_tag 'email_button.png', :id => "submit" %>
	<% end %>
	<div id='social'>

	    <%= link_to image_tag('Facebook-icon.png', :id => "fb"), "https://www.facebook.com/pages/Weekly-Eats/295918210438439?ref=ts" %>
	    <%= link_to image_tag('Twitter-icon.png', :id => "twitter"), "http://twitter.com/#!/getweeklyeats" %>
	</div>
</div>
